#img-bg{
    background-image: url('https://images.nappy.co/uploads/large/1071592702625h9rqbperfghq7yvhyjy08l8nlhpyabgv3lzrmcjqte6zsa1sehlaualycsddnvchjljqcvecf5rkb9mb1hmkcwi5ftbnlngku0dd.jpg?auto=format&fm=jpg&w=1280&q=75');
  
    min-height: 695px;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
