#img-bg{
    background-image: url('https://images.nappy.co/uploads/large/27721609545690su8cbqzznmzydtrguh5zfhkpjdopfhgbqza1b8n7zdplyq2dqr5scfoua3vazm0tvk309xkuk7virxlfv79quidja0aglx2baaqo.jpg?auto=format&fm=jpg&w=1280&q=75');
  
    min-height: 695px;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
